<%- include('partials/header', { title: '404', user, role }) %>

<div class="container">
  <h2>Erreur 404</h2>
  <p>Page non trouvée.</p>
  <a href="/" class="btn btn-primary">Retour à l'accueil</a>
</div>

<%- include('partials/footer') %>