<!DOCTYPE html>
<html>

<head>
    <title>Maintenance</title>
</head>

<body>
    <h1>Site en maintenance</h1>
    <p>Le site est actuellement en maintenance. Merci de revenir plus tard.</p>
</body>

</html>